################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Group-15-Project/FileContentIndex/15279d70-fa22-4d22-81ea-1f01467f074f.vsidx
